<template>
  <div class="ui-gradeinput">
    <span
      class="grade"
      v-for="grade in grades"
      :key="grade"
      :class="{ active: grade === value && !disabled, grey: disabled }"
      @click="emit(grade)"
    >{{ grade }}</span>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'

@Component({})
export default class UiGradeinput extends Vue {
  @Prop(String) readonly value?: string
  @Prop(Boolean) readonly disabled?: boolean
  grades: string[] = ['-', '1', '2', '3', '4', '5', '6']

  emit (grade: string): void {
    if (!this.disabled) this.$emit('input', grade)
  }
}
</script>

<style lang="less" scoped>
.ui-gradeinput {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .grade {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border: var(--box-border);
    cursor: pointer;

    &.active {
      background-color: var(--color-primary);
      color: white;
    }

    &.grey {
      background-color: #ddd;
      color: #aaa;
    }
  }
}
</style>
