<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.png">


    <link rel="apple-touch-icon" sizes="180x180"
      href="./img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32"
      href="./img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16"
      href="./img/icons/favicon-16x16.png">
    <link rel="manifest" href="./img/icons/site.webmanifest">
    <link rel="mask-icon" href="./img/icons/safari-pinned-tab.svg"
      color="#5bbad5">
    <link rel="shortcut icon" href="./img/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./img/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">


    <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
      <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't
            work properly without JavaScript enabled. Please enable it to
            continue.</strong>
        </noscript>
        <div id="app"></div>
        <!-- built files will be auto injected -->
      </body>
    </html>
