h1, h2, h3 {
  color: var(--color-accent);
  font-weight: bold;
  text-align: center;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-weight: 1rem;
}

.page {
  padding: 0.5rem;
}

a {
  color: var(--color-accent);
}

.vspace {
  &-1 {margin-bottom: 1rem;}
  &-2 {margin-bottom: 2rem;}
}

.back {
  display: inline-block;
  background-color: var(--color-primary);
  color: white;
  padding: 0.25rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
}
