body {
  // colors
  --text-color: #2c2e35;
  --color-primary: dodgerblue;
  --color-accent: rebeccapurple;
  --background-color: white;

  --box-border: 1px solid #aaa;

  // breakpoints
  --breakpoint: 600px;
}
