<template>
  <div class="page-sps page">
    <h1>Sozialpädagogisches Seminar</h1>
    <h2>Fach:<br />Pädagogik/Psychologie</h2>

    <p class="note">Jahresfortgangsnote:</p>
    <ui-gradeinput v-model="jahresfortgangsnote" />

    <p class="note">Prüfungsnote schriftlich:</p>
    <ui-gradeinput v-model="schriftlich" />

    <p class="note">Prüfungsnote mündlich:</p>
    <ui-gradeinput v-model="muendlich" :disabled="noOral" />
    <p>Mündliche Prüfung <span v-show="noOral">nicht</span> möglich.</p>

    <p class="note">
      Die Prüfungsnote ist
      <span v-show="muendlich !== '-'"
        >(2 x {{ schriftlich }} + {{ muendlich }}) / 3</span
      >
      =
      {{ pruefungsnote[0] }}
      <span v-show="muendlich !== '-'">:: {{ pruefungsnote[1] }}</span>
    </p>

    <p class="note">
      Die Endnote ist:
      <span v-show="jahresfortgangsnote !== '-' && pruefungsnote[1] !== '-'">
        ({{ jahresfortgangsnote }} + {{ pruefungsnote[1] }}) / 2 =
        {{ endNote[0] }} :: </span
      ><span class="endnote">{{ endNote[1] }}</span>
    </p>
    <p>Die Prüfungsnote überwiegt</p>
    <router-link to="/" class="back">Zurück</router-link>
  </div>
</template>

<script lang="ts">
import { Vue, Component, Watch } from 'vue-property-decorator'
import { calcEndnote, calcPruefungsnote, candoOral } from '@/ts/calc'

@Component({})
export default class PageSps extends Vue {
  jahresfortgangsnote = '-'
  schriftlich = '-'
  muendlich = '-'

  get pruefungsnote (): [string, string] {
    return calcPruefungsnote(this.schriftlich, this.muendlich)
  }

  get noOral (): boolean {
    return !candoOral(this.jahresfortgangsnote, this.schriftlich)
  }

  @Watch('noOral')
  oralChanged (o: boolean): void {
    if (o) this.muendlich = '-'
  }

  get endNote (): [string, string] {
    return calcEndnote(this.jahresfortgangsnote, this.pruefungsnote[1], this.muendlich)
  }
}
</script>

<style lang="less" scoped>
.page-sps {
  .note {
    font-size: 1.25rem;
    margin-top: 1.5rem;

    .endnote {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
</style>
