<template>
  <div class="page-home page">
    <h1>Notenrechner</h1>
    <p>Wählen Sie Ihren Ausbildungsbereich:</p>
    <ul>
      <li>
        <router-link to="/sps">SPS</router-link>
      </li>
      <li>
        <router-link to="/erzieher">ErzieherIn</router-link>
      </li>
      <li>
        <router-link to="/englisch">Ergänzungsprüfung</router-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class PageHome extends Vue { }
</script>

<style lang="less" scoped>
.page-home {
  font-size: 1.25rem;
  li {
    margin: 1rem 5rem;
  }
  a {
    display: block;
    text-decoration: none;
  }
}
</style>
