<template>
  <div class="page-about page">
    <h1>Impressum</h1>
    <p class="emph">
      Fachakademie für Sozialpädagogik Mühldorf<br />
      des Diakonischen Werks Traunstein e.V.
    </p>
    <p class="vspace-2">Alle Angaben sind ohne Gewähr.</p>
    <p>Author: I. Kowsoleea</p>
    <p>Email: i.kowsoleea@fachakademie-muehldorf.de</p>
    <h3>Datenschutz</h3>
    <p>Dieser Notenrechner speichert keine Daten auf ihrem Endgerät.</p>
    <p>
      Es werden keine daten (insbesondere keine Noten) auf
      Datenverarbeitungssysteme der Diakonie Traunstein oder andere Firmen
      übertragen. Die Notenberechnung findet ausschließlich auf Ihrem Endgerät
      statt.
    </p>
    <p>
      Wenn Sie diese Website schließen bzw. verlassen sind alle eingegebenen
      Daten verloren.
    </p>
    <h3>Open Source</h3>
    <p>
      Der Quellcode dieser Notenrechner ist einsehbar unter:
      <a href="https://gitlab.com/faksmue/notenrechner"
        >https://gitlab.com/faksmue/notenrechner</a
      >
    </p>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class PageAbout extends Vue { }
</script>

<style lang="less" scoped>
.page-about {
  h1 {
    margin-bottom: 1rem;
  }
  .emph {
    font-size: 1.1em;
    font-weight: bold;
  }
}
</style>
