<template>
  <div class="page-englisch page">
    <h1>Ergänzungsprüfung</h1>
    <h2>Fach:<br />Englisch</h2>

    <p class="note">Jahresfortgangsnote:</p>
    <ui-gradeinput v-model="jahresfortgangsnote" />

    <p class="note">Prüfungsnote schriftlich:</p>
    <ui-gradeinput v-model="schriftlich" />

    <p class="note">Prüfungsnote mündlich:</p>
    <ui-gradeinput v-model="muendlich" />

    <p class="note">
      Die Prüfungsnote ist
      <span v-show="muendlich !== '-'"
        >(2 x {{ schriftlich }} + {{ muendlich }}) / 3</span
      >
      =
      {{ pruefungsnote[0] }}
      <span v-show="muendlich !== '-'">:: {{ pruefungsnote[1] }}</span>
    </p>

    <p class="note">
      Die Endnote ist:
      <span v-show="jahresfortgangsnote !== '-' && pruefungsnote[1] !== '-'">
        ({{ jahresfortgangsnote }} + {{ pruefungsnote[1] }}) / 2 =
        {{ endNote[0] }} :: </span
      ><span class="endnote">{{ endNote[1] }}</span>
    </p>
    <p>Die Prüfungsnote überwiegt</p>
    <p>
      Bei einer Prüfungsnote = 6 gilt die Ergänzungsprüfung als NICHT bestanden.
      In dem Fall müssen Sie mit einer mündlichen Note die Prüfungsnote
      verbessern.
    </p>
    <router-link to="/" class="back">Zurück</router-link>
  </div>
</template>

<script lang="ts">
import { calcEndnoteEnglisch, calcPruefungsnote } from '@/ts/calc'
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class PageEnglisch extends Vue {
  jahresfortgangsnote = '-'
  schriftlich = '-'
  muendlich = '-'

  get pruefungsnote (): [string, string] {
    return calcPruefungsnote(this.schriftlich, this.muendlich)
  }

  get endNote (): [string, string] {
    return calcEndnoteEnglisch(
      this.jahresfortgangsnote,
      this.pruefungsnote[1],
      this.muendlich
    )
  }
}
</script>

<style lang="less" scoped>
.page-englisch {
  p {
    margin-bottom: 0.5rem;
  }
  .note {
    font-size: 1.25rem;
    margin-top: 1.5rem;

    .endnote {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
</style>
