<template>
  <div id="app">
    <layout-header />
    <div class="nav">
      <router-link to="/">Notenrechner: </router-link>
      <router-link to="/sps">SPS</router-link>
      <router-link to="/erzieher">ErzieherIn</router-link>
      <router-link to="/englisch">Englisch</router-link>
      <router-link to="/about">Impressum</router-link>
    </div>
    <router-view />
    <layout-footer />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class App extends Vue { }
</script>
<style lang="less">
.nav {
  background-color: var(--color-accent);
  padding: 0.25rem;
  display: flex;
  color: white;

  a {
    color: whitesmoke;
    padding: 0 0.5rem;

    &.router-link-exact-active {
      background-color: whitesmoke;
      color: var(--text-color);
    }
  }
}
</style>
