<link rel="icon"
  href="https://www.fachakademie-muehldorf.de/wp-content/uploads/2017/10/favicon-32.png"
  sizes="32x32" />
<link rel="shortcut icon"
  href="https://www.fachakademie-muehldorf.de/wp-content/uploads/2017/10/favicon-32.png"
  />
<link
  rel="apple-touch-icon"
  href="https://www.fachakademie-muehldorf.de/wp-content/uploads/2017/10/favicon-57.png"
  sizes="57x57">
<link rel="apple-touch-icon"
  href="https://www.fachakademie-muehldorf.de/wp-content/uploads/2017/10/favicon-76.png"
  sizes="76x76">
<link rel="apple-touch-icon"
  href="https://www.fachakademie-muehldorf.de/wp-content/uploads/2017/10/favicon-120.png"
  sizes="120x120">
<link rel="apple-touch-icon"
  href="https://www.fachakademie-muehldorf.de/wp-content/uploads/2017/10/favicon-152-e1564485188260.png"
  sizes="114x114">
