<template>
  <div class="layout-footer">
    <div class="box">
      <p class="title">Fachakademie für Sozialpädagogik Mühldorf</p>
      <p>Starkheim 3, 84453 Mühldorf am Inn</p>
      <p>Telefon: +49 8631 98637-0</p>
      <p>Telefax: +49 8631 98637-18</p>
    </div>
    <div class="box">
      <p class="title">Diakonisches Werk Traunstein e.V.</p>
      <p>Rosenheimer Straße 9, 83278 Traunstein</p>
      <p>Telefon: +49 861 9898-0</p>
      <p>Telefax: +49 861 9898 - 123</p>
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class LayoutFooter extends Vue { }
</script>

<style lang="less" scoped>
.layout-footer {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: var(--color-accent);
  color: white;
  text-align: center;

  .box {
    min-width: 300px;
    margin: 1rem;

    .title {
      font-weight: bold;
    }
  }
}
</style>
