<template>
  <div class="layout-header">
    <div class="adresse">
      <p class="text">
        Starkheim 3, 84453 Mühldorf am Inn, Tel: +49 8631 98637-0
      </p>
    </div>

    <div class="logos">
      <img
        src="./../assets/logo-fachakademie-muehldorf.png"
        alt="Logo Fachakademie"
        class="logo"
      />
      <img
        src="./../assets/traeger-diakonie.jpg"
        alt="Logo Diakonie Traunstein"
        class="logo"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class LayoutHeader extends Vue { }
</script>

<style lang="less" scoped>
.layout-header {
  width: 100%;

  .adresse {
    background-color: var(--color-primary);
    color: white;
    padding: 0.5rem 0;
    text-align: center;
  }

  .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 45vw;
      max-width: 200px;
    }
  }
}
</style>
